<template>
    <div>
      <v-flex xs12 sm6 text-xs-left>
        <v-toolbar-title class="nameLogin">Wellcome {{ user.name }}</v-toolbar-title>
      </v-flex>
      <v-form>
        <v-container>
          <v-layout row wrap>

            <v-flex xs12 sm6 md3>
              <v-text-field
                v-model="postBody"
                label="Serial number"
              ></v-text-field>
            </v-flex>
            <v-btn @click="get2dData" color="blue">Request</v-btn>

          </v-layout>
        </v-container>
      </v-form>
    </div>
</template>

<script>
import axios from "axios"
import router from "../router"

export default {
  name: "Login",
  data () {
    return {
      user: {
        name: "Jesse",
        postBody: ""
      }
    }
  },
  methods: {
    getUserData: function () {
      let self = this
      axios.get("/api/user")
        .then((response) => {
          console.log(response)
          self.$set(this, "user", response.data.user)
        })
        .catch((errors) => {
          console.log(errors)
          router.push("/login")
        })
    },
    get2dData: function () {
      // let self = this
      axios.post("http://127.0.0.1:8000/api/get_2d_by_id",
        {serial_number: this.postBody}
      )
        .then((response) => {
          console.log(response)
          self.$set(this, "user", response.data.user)
        })
        .catch((errors) => {
          console.log(errors)
          router.push("/dashboard")
        })
    }
  },
  mounted () {
    this.getUserData()
  }
}
</script>

<style>
  .nameLogin {
    font-size: 14px;
    margin-left: 20px;
  }
</style>
