<template>
  <div id="app">
    <v-layout row>
      <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'
            rel="stylesheet">
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-toolbar color="green" dark>
            <v-toolbar-title>Markify</v-toolbar-title>
            <v-flex xs12 sm6 text-xs-center>
            </v-flex>
            <v-spacer></v-spacer>
            <v-btn color="green">
              <router-link style="text-decoration: none; color: white" :to="{ name: 'Dashboard'}">Dashboard
              </router-link>
            </v-btn>
            <v-btn color="green">
              <router-link style="text-decoration: none; color: white" :to="{ name: 'Login'}">Login</router-link>
            </v-btn>
            <v-btn color="green"><a style="text-decoration: none; color: white" href="#" v-on:click="logout">Logout</a>
            </v-btn>
          </v-toolbar>
          <v-list two-line>
            <router-view/>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import axios from "axios"
import router from "router"

export default {
  name: "App",
  methods: {
    logout: function (e) {
      axios.get("/api/logout")
        .then(() => {
          router.push("/")
        })
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    text-decoration: none;
    color: #2c3e50;
  }
</style>
